= form_for @tvshow, :html => {:class => "form"} do |f|
  %h4= "Edit #{@tvshow.ttdb_show_title}"
  .form-group
    =f.label :tvr_search_name
    =f.text_field :tvr_search_name, :class => "form-control"
  =f.submit "Update TV Show", {:class => "btn btn-primary btn=sm"}
