<h3> <%= "Listing #{@tvshows_recently_canceled.count} TV shows canceled in the past 6 months" %></h3>

<table>
  <tr>
    <th>Show Name</th>
    <th>Airing Status</th>
    <th>Last Episode</th>
  </tr>

  <% @tvshows_recently_canceled.each do |tvshow| %>
  <tr>
    <td><%= link_to(tvshow.ttdb_show_title, tvshow) %></td>
    <td><%= tvshow.tvr_show_status %></td>
    <td><%= tvshow.tvr_latest_episode_date %></td>
  </tr>
<% end %>
</table>

<br />

