<h3>Lets get some shit done!</h3>
<br />
Here is what you were looking for: 
<br />
<% @blerm.each do |bermty|  %>
  <%= bermty %><br />
<% end %>
<br />
<%= link_to("Home", root_path)  %>
<br />
<br />
