%h3= 'XBMC Control'
%br
%span.glyphicon.glyphicon-play
='Start This Episode'
%br
%span.glyphicon.glyphicon-pause
='PlayPause'
%br
%span.glyphicon.glyphicon-stop
='Stop'
%br
%span.glyphicon.glyphicon-th-list
='Queue'
