<!DOCTYPE html>
<html>
<head>
  <title>Juwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>MediaMonster</h2>
<br />
<%= yield %>

</body>
</html>
